@charset "utf-8";
/* CSS Document */

.form_main_wrapper
{
	height: auto;
	width: 1041px;
	z-index:1;
	background:white;
	margin:40px 155px 0px 155px;
	//border: 2px solid black;	
	box-shadow:10px 10px 10px 2px gray;
	font-family:"Times New Roman", Times, serif;
	float:left;
	
}
.form_header
{
	font-size: 25px;
	color: white;
	text-transform: uppercase;
	width:1021px;
	height:45px;
	background:#464646;
	color:white;
	line-height:45px;
	padding-left:20px;	
	
}
/* css for left panel of login form*/
.loginform_left_panel
{
	width:780px;
	height:455px;
	border-right:1px solid gray;
	 -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
    transition:2s;	
}


.loginform_left_panel_loginform,.loginform_left_panel_registerform
{
	width:308px;
	height:432px;
	padding:3px 0px 20px 80px;
	border-left:1px solid black;	
	font-size:18px;
	float:left;
}


.loginform_left_panel_loginform_header,.loginform_left_panel_registerform_header
{
	padding-top:20px;
	height:50px;
	//border:1px solid green;	
	font-size:25px;
	
}

.loginform_left_panel_loginform_error,.loginform_left_panel_registerform_error
{
	padding-left:80px;
	float:left;
	height:40px;
	width:308px;
	//border:1px solid orange;	
}


.loginform_left_panel_loginform >input[type="text"], .loginform_left_panel_loginform>input[type="password"],.loginform_left_panel_registerform >input[type="text"], .loginform_left_panel_registerform>input[type="password"]
{
	height:35px;
	width:270px;
	background:#f9f9f9;
	border:#e6e6e6 solid 1px;
	border-radius:5px;
	line-height:35px;
	font-size:20px;
}
.loginform_left_panel_loginform >input[type="text"]:focus,.loginform_left_panel_registerform >input[type="text"]:focus
{
	background:white;	
	color:black;
}
.loginform_left_panel_loginform >input[type="submit"],.loginform_left_panel_loginform >input[type="button"],.loginform_left_panel_registerform >input[type="submit"],.loginform_left_panel_registerform >input[type="button"]
{
	font-size:18px;
	padding:5px;
	width:195px;
	height:45px;	
	box-shadow:5px 5px 5px gray;
	border-radius:5px;
	color:white;
	background:#C60;
	cursor:pointer;
	text-transform:uppercase; 	
}
.loginform_left_panel_loginform >input[type="text]
{
	height:25px;
	width:200px;
	background:#f9f9f9;
	border:#e6e6e6 solid 1px;
}


/* css for right panel of login form*/
.loginform_right_panel
{
	float:left;
	width:256px;
	height:500px;
	//border:1px solid green;	
}

/*shelter for hiding the divs..*/
